1.  What are data structures, and why are they important?
Ans.Data structures are smart ways to organize data so it’s easy to use—like putting clothes in drawers instead of tossing them on the bed.
They help our code run faster, save space, and solve problems more easily.

2. Explain the difference between mutable and immutable data types with examples.
Ans. Mutable datatypes are those datatypes whose content can be changed while immutable datatypes are those datatypes whose content cannot be changed.
Ex: list is a mutable datatype and tuple is immutable.

3.  What are the main differences between lists and tuples in Python?
Ans. The main difference between list and tuple is that list is mutable and tuple is immutable.

4. Describe how dictionaries store data.
Ans. Dictionary store data in a key value pair in which keys need to be unique.
for ex:
student = {'name': 'Alisha', 'course': 'BCA'}
Here "name" and "course" are the keys and "Alisha" and "BCA" are there values respectively.

5.  Why might you use a set instead of a list in Python?
Ans. One advantage of using set over list in python is that set contain only unique values which means there will be no repition of data.

6. What is a string in Python, and how is it different from a list?
Ans. - String is a sequence of characters, immutable, used for text data.
- List is a collection of elements, mutable, can hold mixed data types.

7.  How do tuples ensure data integrity in Python?
Ans. Once tuple is created its value cannot be changed, which make it safe from accidental edits.
Hence tuples ensure  data integrity .

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans. A hash table is a data structure that stores key-value pairs and uses a hashing function to quickly look up values based on their keys.
In Python, the dict type is actually implemented using a hash table
for ex:
student = {'name': 'Alisha', 'course': 'BCA'}

9. Can lists contain different data types in Python?
Ans. Yes , list can contain different types of datatypes in python.
for ex:
 lst1=[1,2,3 ,4,"Alisha"]

10. Explain why strings are immutable in Python.
Ans Strings are immutable in Python because:
- They can't be changed after creation.
- It ensures data safety, allows hashing, and improves performance.

11. What advantages do dictionaries offer over lists for certain tasks?
Ans. Dictionaries are better than lists in many ways:
- Allow Fast access to data using keys
- Clear labels for values and not just index numbers
- Unique keys for clean data

12.  Describe a scenario where using a tuple would be preferable over a list.
Ans. Using a tuple would be preferable over a list when we need to store our password. It would be beneficial because it does not allow accidental edits.

13.  How do sets handle duplicate values in Python?
Ans. Sets automatically remove duplicate values. If you add repeated value to a set only one copy will be kept.
For ex:
 my_set = {1, 2, 2, 3, 3, 3}
 print(my_set)  # Output: {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries?
Ans. In a list "in" check whether a value is present or not but in dictionaries "in " check whether a key is present or not.

15. Can you modify the elements of a tuple? Explain why or why not.
Ans. No we cannot modify the elements of a tuple because tuples are immutable, meaning once they're created, their contents cannot be changed, added to, or removed.

16. What is a nested dictionary, and give an example of its use case?
Ans. A nested dictionary is a dictionary inside another dictionary. It allows us to store complex, structured data using multiple layers of key-value pairs.
for ex:
 students = {
    "A101": {
        "name": "Alisha",
        "course": "BCA",
        "marks": {"Python": 85, "HTML": 92}
    },
    "A102": {
        "name": "Ravi",
        "course": "BCA",
        "marks": {"Python": 78, "HTML": 88}
    }
}

17.  Describe the time complexity of accessing elements in a dictionary.
Ans. Accessing elements in a Python dictionary is usually O(1) time — super fast because of hashing. In rare cases with many hash collisions, it can be O(n), but that's uncommon.

18.  In what situations are lists preferred over dictionaries?
Ans. List are preferred over dictionaries when you need to store ordered data or working with sequential items.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans.Dictionaries in Python are considered unordered because they store data using a hash table and not by sequence. This means:
- Keys aren’t stored by position like in a list.
- Data retrieval is based on key lookup, not index numbers.
Impact:
- cannot access data by indexes.
- need to know the exact key name for data retrieval.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
Ans. In list, data can be retrieved using indexes but this is not possible in dictionaries.
In dictionaries, data can be retrieved only if we know the exact key name.

In [1]:
#1Write a code to create a string with your name and print it.
name="alisha"
print(name)

alisha

In [2]:
#Write a code to find the length of the string "Hello World"
str="Hello World"
print(len(str))

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming
str="Python programming"
print(str[:3])

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase
str="hello"
print(str.upper())

HELLO

In [8]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
new_str=str.replace("apple","orange")
print(new_str)

I like orange

In [9]:
# Write a code to create a list with numbers 1 to 5 and print it
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [12]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst=['a','b','c','d']
print(lst[1]) #second element will be on first index

b

In [15]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
reversed_list=lst[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [16]:
#. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl=(100,200,300)
print(tpl)

(100, 200, 300)

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tpl=('red','green','blue','yellow')
print(tpl[-2])

blue

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tpl=(10,20,5,15)
minimum=min(tpl)
print(minimum)

5

In [23]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tpl=('dog','cat','rabbit')
index=tpl.index('cat')
print(index)

1

In [24]:
from re import T
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tpl=("apple","banana","kiwi")
if "kiwi" in tpl:
  print("kiwi is there")
else:
  print("kiwi is not there")

kiwi is there

In [28]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
Set={'a','b','c'}
print(Set)

{'b', 'c', 'a'}

In [29]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={ 1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [30]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={ 1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [31]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={3,4,5}
intersection_set=set1.intersection(set2)
print(intersection_set)

{3}

In [34]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict={"name":"Alisha","age":20,"city":"meerut"}
print(my_dict)

{'name': 'Alisha', 'age': 20, 'city': 'meerut'}

In [35]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict={'name': 'John', 'age': 25}
my_dict['country']='USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict={'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [40]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [42]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict={'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("city is there")
else:
  print("city is not there")

city is there

In [43]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3,4]
tpl=(1,2,3,4,)
my_dict={'name': 'Alice', 'city': 'Paris'}
print(type(lst))
print(lst)
print(type(tpl))
print(tpl)
print(type(my_dict))
print(my_dict)

<class 'list'>
[1, 2, 3, 4]
<class 'tuple'>
(1, 2, 3, 4)
<class 'dict'>
{'name': 'Alice', 'city': 'Paris'}

In [48]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).
lst=[4,56,34,78,54]
lst.sort()
print(lst)

[4, 34, 54, 56, 78]

In [49]:
#28. Write a code to create a list with strings and print the element at the third index.
lst=["Alisha","Hello","world","USA","Elephant"]
print(lst[3])

USA

In [53]:
# 29. Write a code to combine two dictionaries into one and print the result.
my_dict1={'name': 'Alice', 'city': 'Paris'}
my_dict2={'age': 20, 'country': 'Europe'}
combined={**my_dict1,**my_dict2}
print(combined)

{'name': 'Alice', 'city': 'Paris', 'age': 20, 'country': 'Europe'}

In [57]:
# 30. Write a code to convert a list of strings into a set.
print("Before converting :")
lst=["Alisha","Hello","world","USA","Elephant"]
print(type(lst))
print(lst)
my_set=set(lst)
print("After converting :")
print(type(my_set))
print(my_set)

Before converting :
<class 'list'>
['Alisha', 'Hello', 'world', 'USA', 'Elephant']
After converting :
<class 'set'>
{'Hello', 'Elephant', 'USA', 'Alisha', 'world'}